.form{
    margin: 8px;
    display: block;
}
section{
    margin: 5px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
}

section#showUserInfo section{
    display: flex;
    border: none;
}