body {
  margin: 0px;
  padding: 0px;
}

img.iconImage {
  border-radius: 100px;
}

header {
  display: flex;
  text-align: center;
  background-color: rgb(50,50,50);
}

input#searchInput {
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 100px;
  text-align: center;
}

section#contentSection {
  background-color: blue;
  display: inline-flex;
}

section#navMenu {
  background-color: rgb(50,50,50);
}

ul#navMenuList {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li.navMenuListElement section {
  display: inline-flex;
  text-align: left;
}

section#mailListSection {
  
}

section.mail section {
  display: inline-flex;
}

.mailP {
  margin: 0px;
  margin-right: 5px;
}

section#newMailSection {
  position: absolute;
  bottom: 4px;
  right: 0px;
}

.newMailChild {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#newMailSection img {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.newMailChild:focus {
  outline: none;
}

#newMailMessageContent {
  resize: none;
  border: none;
}

textarea:enabled {
  outline: none;
}

section#mailView{
  position: absolute;
  text-align: center;
  background-color: white;
  display: none;
}