body {
  margin: 0px;
  padding: 0px;
}

img.iconImage {
  border-radius: 100px;
}

header {
  display: flex;
}

input#searchInput {
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 100px;
  text-align: center;
}

section#contentSection {
  background-color: aqua;
  display: inline-flex;
}

ul#navMenuList {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li.navMenuListElement section {
  display: inline-flex;
  text-align: left;
}

section#mailListSection {
  background-color: blue;
}

section.mail section {
  display: inline-flex;
}

section#newMailSection {
  position: absolute;
  bottom: 0px;
  right: 0px;
}